*,:before,:after
    box-sizing: border-box

*
    outline: none
    
html
    font-size: 12px
    scroll-behavior: smooth
    padding: 0
    font-family: 'Myriad Pro', sans-serif
body

    font-family: 'Myriad Pro', sans-serif
    font-size: 1rem
img
    max-width: 100% 

label
    &.invalid
        color: tomato   
        position: absolute
        bottom: -1.3rem   
        transform: translateX(-50%) 
        left: 50%
        width: max-content

div.invalid
    position: absolute
    color: tomato
    top: 17rem
    left: 0
    width: 100%
    text-align: center    
input
    &.invalid
        border-bottom: 1px solid tomato