.s2r {
  background-color: #f7f4f2;
  padding-top: 16.5rem;
  padding-bottom: 15.8rem; }
  .s2r__title {
    font-size: 3.2rem;
    font-weight: bolder;
    margin-top: 0;
    margin-bottom: 8.3rem;
    max-width: 16.6rem; }
  .s2r__subtitle {
    font-size: 2.4rem;
    margin-bottom: 3rem;
    margin-top: 0; }
  .s2r__text {
    font-size: 1.53rem;
    line-height: 1.6; }
    .s2r__text--brackets {
      color: #777777; }
  .s2r__wrapper {
    display: flex; }
    .s2r__wrapper--right {
      max-width: 24.6rem; }
    .s2r__wrapper--extra {
      position: relative;
      margin-right: 15.8rem; }
  .s2r__image {
    min-height: 33rem; }
  .s2r__swiper-container {
    max-width: 58.5rem;
    margin: 0; }
  .s2r__swiper-button {
    width: 4.5rem;
    height: 4.5rem;
    transform: translateY(-50%);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    z-index: 99; }
    .s2r__swiper-button:hover {
      cursor: pointer; }
    .s2r__swiper-button-next {
      right: -3.5rem;
      background: #f7f4f2 url("../img/car-i-refact/right.svg") no-repeat center;
      background-size: 1.3rem; }
    .s2r__swiper-button-prev {
      left: -3.5rem;
      background: #f7f4f2 url("../img/car-i-refact/left.svg") no-repeat center;
      background-size: 1.3rem; }
