.enlarge
    background: $footer
    min-height: 80rem
    position: relative
    // opacity: 1
    z-index: 111
    &__wrapper
        padding-top: 16.75rem
    &__title
        margin-top: 0
        color: $light
        font-size: 4rem
    &__bg
        position: absolute
        z-index: -11
        max-height: 80rem
        width: 100%