.hero
    background:  #222222 url('../img/hero/main-bg.webp') no-repeat center / cover 
    min-height: 100vh
    padding: 6rem 9.5rem 0 9.5rem
.menu
    display: flex
    align-items: center
    justify-content: space-between
    &__logo
        display: flex
    & img
        margin-right: 1.8rem
.logo
    &__link
        text-decoration: none
        color: $light
.nav 
    display: flex
    
