@media screen and ( max-width: 1300px )
	.hero__content
		margin-left: 6rem
	.container	
		padding: 0 20px
	html
    	font-size: 10px



@media screen and ( max-width: 992px)
	//hero
	//Burger menu + navigation
	.menu
		&__nav
			display: none
		&__mobile-link
			display: flex
	// First video title		
	.video
		&__text
			left: inherit
	//Section places
	.places
		&__content
			flex-direction: column
			align-items: center
		&__video
			min-height: 30rem
			&--main
				min-height: 40rem
		&__swiper-button
			top: 37%
	.content
		&__text
			margin-bottom: 5rem 
			margin-right: 0
	//Clients
	.clients 
		&__card
			margin-right: 0
			flex-basis: 30%
			margin-left: 12rem
			margin-bottom: 3rem
	//OurCar
	.ourCar
		padding-top: 5rem
		padding-bottom: 5rem
		&__title
			position: relative
			margin: 0 auto
			margin-bottom: 2rem
		&__subtitle
			margin-bottom: 1rem
		&__slide
			flex-direction: column
		&__description
			display: flex
			flex-direction: column
			align-items: center
			margin-top: 0
			max-width: 67rem
		&__text
			max-width: unset
			margin-bottom: 0
			font-size: 1.6rem
		&__wrapper
			max-width: 75%
			margin: 0 auto
		&__slide
			width: inherit !important
		&__button
			top: 45%
			&--next
				margin-left: 0
				right: -3rem
		&__image
			margin-right: 0
			height: unset
			
	.swiper2
		&__pagination
			justify-content: center
			margin-left: 0
			margin-top: 0
		&__current
			margin-left: 0
	//enlarge
	.enlarge
		&__wrapper
			flex-direction: column
			align-items: center
	//order
	.order
		&__wrapper
			padding-top: 5rem
			flex-direction: column
			align-items: center
			padding-bottom: 5rem
	//footer
	.footer
		&__wrapper
			flex-direction: column
			align-items: center
			padding-bottom: 0
			margin-bottom: 5rem
		&__info
			display: flex
			justify-content: space-between
			margin-right: 0
			// margin-bottom: 5rem
			order: 2
		&__slider
			margin-bottom: 5rem
		&__socials
			flex-direction: column
			align-items: center
		


