@media screen and ( max-width: 1300px )
	.hero__content
		margin-left: 6rem
	.container	
		padding: 0 20px
	html
    	font-size: 10px
@media screen and ( max-width: 1199px )
    .container
        max-width: 960px
@media screen and ( max-width: 991px )
    .container
        max-width: 750px
@media screen and ( max-width: 768px )
    .container
        max-width: 100%
        padding: 0 20px


@media screen and ( max-width: 992px)
	//hero
	//Burger menu + navigation
	.menu
		&__nav
			display: none
		&__m
			justify-content: start
			padding-top: 10rem	
		&__mobile-link
			display: flex
	.logo
		&__link
			&:hover
				transform: scale(1)
				cursor: default
	.burger
		width: 2.5rem
		height: 2.5rem
		cursor: default
	// First video title		
	.video
		&__text
			left: inherit
		&__play
			&:hover
				transform: scale(1)
				cursor: default
	//Section places
	.places
		&__content
			flex-direction: column
			align-items: center
		&__video
			min-height: 25rem
			&--main
				min-height: 40rem
		&__swiper-button
			&:hover
				cursor: default
		&__swiper-button-next
			top: 10rem
		&__swiper-button-prev
			top: 10rem
			
		&__slide 
			&:hover
				cursor: default
				.swiper__text
					color: black
				.places__video--hover
                &::before
                    opacity: 0
				.swiper
					&__play
						&::before
							opacity: 0
						&::after
                    		background: url('../img/video__refact/sTatic.svg') no-repeat center
	.swiper
		&__play
			&:hover
				cursor: default
		&__swiper-button
			top: 37%
	.content
		&__text
			margin-bottom: 5rem 
			margin-right: 0
	//Clients
	// .clients 
	// 	&__card
	// 		margin-right: 0
	// 		flex-basis: 30%
	// 		margin-left: 12rem
	// 		margin-bottom: 3rem
	//OurCar
	.ourCar
		padding-top: 5rem
		padding-bottom: 5rem
		&__title
			position: relative
			margin: 0 auto
			margin-bottom: 2rem
		&__subtitle
			margin-bottom: 1rem
		&__slide
			flex-direction: column
		&__description
			display: flex
			flex-direction: column
			align-items: center
			margin-top: 0
			max-width: 67rem
			margin-bottom: 1rem
		&__text
			max-width: unset
			margin-bottom: 0
			font-size: 1.6rem
		&__wrapper
			max-width: 75%
			margin: 0 auto
		&__slide
			width: inherit !important
		&__button
			top: 45%
			&--next
				margin-left: 0
				right: -3rem
		&__image
			margin-right: 0
			height: unset
			min-height: 35rem	
			width: 100%
			
	.swiper2
		&__pagination
			justify-content: center
			margin-left: 0
			margin-top: 0
		&__current
			margin-left: 0
	//enlarge
	.enlarge
		&__wrapper
			flex-direction: column
			align-items: center
			padding-top: 7rem
	.col
		display: flex
		flex-wrap: wrap
		flex-direction: row
		&--2
			display: flex
			flex-direction: row 
			flex-wrap: wrap
			
	.enlarge
		&__title-group
			width: 100%
			text-align: center
		&__gearbox
			flex-basis: 40%
			margin-right: 15rem
		&__milage
			flex-basis: 20%
			max-height: 17rem
		&__title--wrapper	
			width: 100%
			justify-content: center
			margin-bottom: 2rem
		&__list
			flex-basis: 50%
			// padding-top: 5rem
			margin-right: 10rem
			display: flex
			flex-direction: column
			justify-content: end
		&__title--3
			width: 100%
			text-align: center
			position: relative
			&::after
				top: 2.5rem
				left: 22rem
		&__block--3
			margin-right: 15rem
			flex-basis: 40%
			padding-left: 5rem
			align-items: end
		&__block--img
			position: relative

			&::after
				top: 2.5rem !important
				right: 1rem

	.complex__block
		flex-basis: 40%
	.gas-block
		flex-basis: 30%
	.gearbox
		&__type
			right: 5rem !important
	.milage
		&__type
			right: -5rem
	
			
			

		
	//order
	.order
		&__wrapper
			padding-top: 5rem
			flex-direction: column
			align-items: center
			padding-bottom: 5rem
	//footer
	.footer
		&__wrapper
			flex-direction: column
			align-items: center
			padding-bottom: 0
			margin-bottom: 5rem
		&__info
			display: flex
			justify-content: space-between
			margin-right: 0
			// margin-bottom: 5rem
			order: 2
		&__slider
			margin-bottom: 5rem
		&__socials
			flex-direction: column
			align-items: center
	.form
		&__button
			&:hover
				transform: scale(1)
	.button-up
		cursor: default
	.swiper-button-prev3
		cursor: default
	.swiper-button-next3
		cursor: default
	.ourCar
		&__button
			&:hover
				cursor: default
	.footer
		&__list
			& a
				&:hover
					color: #777777
					text-decoration: none
					cursor: default
		&__link
			&:hover
				cursor: default
			&--email
				&:hover
					background: url("../img/socials/mail.svg") center no-repeat
					background-size: 1.9rem
			&--whatsapp
				&:hover
					background: url("../img/socials/whatsapp.svg") center no-repeat
					background-size: 1.9rem
			&--youtube
				&:hover
					background: url("../img/socials/youtube.svg") center no-repeat
					background-size: 1.9rem
			&--vk
				&:hover
					background: url("../img/socials/vk.svg") center no-repeat
					background-size: 1.9rem
			&:hover
				border: 1px solid #444444
	.specs
		padding-top: 5rem
		flex-wrap: wrap
		display: flex
		margin-bottom: 5rem
		&__title-block
			flex-basis: 100%
			text-align: center
		&__box
			// flex-basis: 100%
			margin-right: 15%
			&:last-child
				margin-right: 0
	.gas-type
		flex-wrap: wrap
		display: flex
		margin-bottom: 5rem
		&--title
			// flex-basis: 100%
			// text-align: center
			
			margin: 0 auto
		&--title-wrapper
			flex-basis: 100%
			margin-bottom: 5rem
		&__list
			flex-basis: 50%
		&__info-block
			flex-basis: 50%
	.year
		flex-wrap: wrap
		display: flex
		margin-bottom: 5rem
		&__title
			margin: 0 auto
			&--wrapper
				flex-basis: 100%
				margin-bottom: 5rem
		&__icons-block
			flex-basis: 50%
		&__info-block
			flex-basis: 50%
		
@media screen and ( max-width: 768px )
	.ourCar
		&__image
			min-width: unset
			min-height: unset
	.places
		&__slider-refact
			max-width: 90%
		&__swiper-container
			width: 90%
	.clients
		&__col
			flex-basis: 50%
				
@media screen and ( max-width: 576px )
	.ourCar
		&__button
			top: 20rem
	.hero
		&__title
			margin-right: 0
			font-size: 6rem
	.order3
		order: -1
	.order1
		order: -2
	.clients
		&__col
			flex-basis: 100%
@media screen and ( max-width: 500px )
	.menu
		&__mobile-link
			text-align: center
   			margin-bottom: 4rem
			align-self: flex-start
			&--list-item
				margin-bottom: 3rem
	.places
		&__video
			min-height: 22rem
			&--main
				min-height: 30rem
	.ourCar
		&__wrapper
			max-width: 90%
		&__button
			top: 26rem
		&__image
			margin-bottom: 3rem
			
	.specs
		&__box
			margin-bottom: 5rem
			flex-basis: 100%
	.gas-type
		&--title
			&::after
				// right: 10rem	
			&::before
				// right: 10rem	
		&__list
			// display: block
			// margin: 0 auto
			margin-bottom: 5rem
			flex-basis: 100%
		&__info-block
			// display: block
			flex-basis: 100%
			// margin: 0 auto
	.year
		&__icons-block
			flex-basis: 100%
			
	.video
		&__text
			top: -2rem
			text-align: center
		&__subtitle
			display: inline-block
			margin-top: 15rem
		&__play
			z-index: 99999999
	.header
		padding-left: 20px
		padding-right: 20px
	.logo
		&__img
			display: none
	.swiper-slide3__header
		margin-top: 4rem
	.hero
		&__content
			margin-left: 0
		&__title
			font-size: 4rem
	.footer
		&__info
			flex-direction: column
		&__slider
			max-width: 28rem
	
	

	

