.places
    min-height: 65.25rem
    background: $places
.video
    position: relative
    display: flex
    margin: 0 auto
    justify-content: center
    align-items: center
    max-width: 83rem
    min-height: 42rem
    background: url('../img/video/video-bg.webp') center no-repeat
    transform: translateY(-60%)
    &__play
        position: relative  
        cursor: pointer 
        transition: 0.6s
        &:hover
            transform: scale(1.1)