.places
    min-height: 65.25rem
    background: $places
    &__slide
        // min-height: 20rem
        border: 2px solid black
    &__slider
        max-height: 20rem
    &__slider-refact
        position: relative 
        margin-bottom: -6rem
    &__swiper-container
        // border: 2px solid red
        z-index: -1
        position: relative
    &__video
        min-height: 14.5rem
        display: flex
        justify-content: center
        align-items: center
        &--2
            background: url('../img/video__refact/img-2.jpg') no-repeat center
            background-size: cover
        &--1
            background: url('../img/video__refact/img-1.jpg') no-repeat center
            background-size: cover
.video
    &__text
        position: absolute
        left: -4rem
        top: 4rem
    &__title
        color: $light
        font-size: 3.2rem
        margin-bottom: 2rem
    &__subtitle
        font-size: 1.24rem
        color: $primary
    position: relative
    display: flex
    margin: 0 auto
    justify-content: center
    align-items: center
    max-width: 83rem
    min-height: 42rem
    background: url('../img/video/video-bg.webp') center no-repeat
    transform: translateY(-60%)
    &__play
        position: relative  
        cursor: pointer 
        transition: 0.6s
        &:hover
            transform: scale(1.1)
.content
    color: $dark
    margin-top: -16.5rem
        
    display: flex
    align-items: center
    &__slider   
        margin-top: 4.5rem
        position: relative
    &__text
        max-width: 24rem
        margin-right: 9rem
    &__title
        font-size: 2.4rem
        line-height: 1.3
        margin-bottom: 7.5rem
        & span
            color: $orange
    &__button
        font-size: 1.5rem
        font-weight: bold
        text-decoration: none
        color: $dark
        padding: 0
        &::after
            content: ''
            display: inline-block
            vertical-align: center
            background: url('../img/content/video.svg') center no-repeat
            width: 1.8rem
            height: 1rem
            margin-left: 1.4rem 

.swiper-container
    max-width: 59rem
    width: 100%
    height: 100%
    z-index: 1
    position: relative
.swiper__text
    font-size: 1.23rem
    font-weight: 400
    line-height: 1.5
.swiper__play
    width: 5rem
    height: 5rem
    transition: 0.3s
    background: url('../img/video__refact/video-static.svg') center no-repeat
    &:hover
        cursor: pointer
        width: 8rem 
        height: 8rem
        background: url('../img/video__refact/hover.svg') center no-repeat  

    


            


.places__swiper-button-prev 
    background-size: 42px 
    border-radius: 50px
    width: 4rem
    height: 4rem    
    top: 25%
    background: $light url('../img/content/left.svg') no-repeat center
    border: 2px solid $orange
    position: absolute
    z-index: 9999999999
    transform: translateX(-75%)
    &::after
        display: none
    
.places__swiper-button-next
    background-size: 42px 
    border-radius: 50px
    width: 4rem
    height: 4rem    
    top: 25%
    right: 0
    background: $light url('../img/content/right.svg') no-repeat center
    border: 2px solid $orange
    position: absolute
    z-index: 9999999999
    transform: translateX(75%)
    &::after
        display: none